body {
    font-family: Arial;
    margin: 20px;
}

.livro {
    border: 1px solid #ccc;
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
}

button {
    padding: 6px 10px;
    background: green;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background: darkgreen;
}

#carrinho {
    margin-top: 30px;
    border-top: 2px solid #333;
    padding-top: 20px;
}

.item-carrinho {
    margin: 10px 0;
}

.btn-voltar {
    display: inline-block;
    margin-bottom: 20px;
    padding: 8px 15px;
    background: #3498db;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

.btn-voltar:hover {
    background: #217dbb;
}
