body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f2f2f2;
}

header {
    background: #4A90E2;
    padding: 20px;
    text-align: center;
    color: white;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 60px;
}

.card {
    background: white;
    padding: 20px;
    width: 250px;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: 0.3s;
    text-align: center;
}

.card:hover {
    transform: scale(1.05);
    background: #e9f4ff;
}

h1, h2 {
    margin: 0;
}
